﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Index.master.cs" Inherits="Via.Index" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Via - Home</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/Custom.css" rel="stylesheet" />
    <link href="Content/style.css" rel="stylesheet" />
    
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

    <script src="Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="Scripts/js/edit.js" type="text/javascript"></script>
    

</head>
<body>
    <div class="container">
        <!-- row 1: navigation -->
        <div class="row">
            <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
               <div class="navbar-header">
                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
                       <span class="sr-only">Toggle Navigation</span>
                       <span class="glyphicon glyphicon-arrow-down"></span>
                       MENU
                   </button>
               </div>
                <div class="collapse navbar-collapse" id="collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="Home.aspx">Home</a></li>
                        
                   <%-- <li><a href="#">Via Services</a></li>--%>
                    <li><a href="Contact.aspx">Contact</a></li> 
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                       <%-- <% if(Session["login"] != null){ %> 
                    <li><a href="#"><img src="Images/1.jpg" id="img" style="height:20px;" /></a></li> 
                        <% } %>
                    <li><a href="#"></a></li> 
                    <li><a href="#">SignUp</a></li>   
                    <li><a href="#">SigIn</a></li>--%>
                        <% if (Session["New"] == null)
                            { %>
                    <li style="margin-right:20px;"><a href="Login.aspx">SignIn</a></li> 
                        <% } else { %>
                         <li style="margin-right:20px;"><a href="Login.aspx">LogOut</a></li> 
                        <% } %>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- row 2 -->
        <div class="row">

        </div>
       
    <form id="form1" runat="server">
   
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>

    </form>
        

    

    <!-- row 3 -->
    <footer class="row" style="height:50px;">
         <p><small style="color:black">www.viaweb.com @ 2016</small></p>
    </footer>

    <asp:PlaceHolder runat="server">
        <script src="Scripts/jquery-2.1.3.min.js"></script>
        <script src="Scripts/bootstrap.min.js" type="text/javascript"></script>
        <script src="Scripts/respond.js" type="text/javascript"></script>
        <script src="js/jquery.backstretch.js" type="text/javascript"></script>
    </asp:PlaceHolder>

    <!-- javascript -->
    </div>
    
    <script>
    $(function ()
      {
          $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
    <!----JavaScript--->
    <script type="text/javascript">
        'use strict';

        /* ========================== */
        /* ::::::: Backstrech ::::::: */
        /* ========================== */
        // You may also attach Backstretch to a block-level element
        $.backstretch(
        [
            "img/44.jpg",
            "img/colorful.jpg",
            "img/34.jpg",
            "img/images.jpg"
        ],

        {
            duration: 4500,
            fade: 1500
        }
    );
    </script>
</body>
</html>